ipython==8.12.3 
librosa==0.10.2.post1 
matplotlib==3.9.2  
numpy==1.26.4 
omegaconf==2.3.0  
pandas==2.2.3 
pytorch_lightning==2.4.0  
PyYAML==6.0.2 
soundfile==0.12.1  
torch==2.4.1 
torchaudio==2.4.1 
torchmetrics==1.4.2  
tqdm==4.66.4 
plotly==5.24.1

